{% load static %}

<div class="card card-body mb-2">
    <div class="card-body">

        {% for user in users.all %}
        <div class="row ps-3 mb-4 align-items-center">
            <div class="col-2 text-center">
                <div class="d-flex px-2 py-1 align-items-center">
                    <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ user.name }}</h6>
                    </div>
                </div>
            </div>

            {% if user.traffic %}
            <div class="col-4 align-middle text-center">
                <div class="d-flex align-items-center">
                    <span class="me-2 text-xs font-weight-bold">60%</span>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-4 align-middle text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <span class="text-secondary text-center text-xs font-weight-bold">Unlimited</span>
                </div>
            </div>
            {% endif %}

            <div class="col-2 align-middle text-center text-sm">
                {% if user.status == 0 %}
                <span class="badge badge-sm bg-gradient-danger">Disabled</span>
                {% elif user.status == 1 %}
                <span class="badge badge-sm bg-gradient-success">Enabled</span>
                {% elif user.status == 2 %}
                <span class="badge badge-sm bg-gradient-danger">Expired</span>
                {% else %}
                <span class="badge badge-sm bg-gradient-warning">Depreted</span>
                {% endif %}
            </div>

            <div class="col-2 align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{% if user.expiration_date %}{{ user.expiration_date }}{% else %}Unlimited{% endif %}</span>
            </div>

            <div class="col-2 align-middle">
                <a href="#" class="text-secondary font-weight-bold text-xs" data-toggle="modal" data-target="#qr-user-{{ user.id }}">
                    QR Code
                </a>
            </div>

            <div class="modal fade" id="qr-user-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="qr-user-{{ user.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content dark-version">
                        <div class="modal-header dark-version">
                            <h5 class="modal-title dark-version" id="qr-user-{{ user.id }}-label">Connection QR Code</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body dark-version">
                            <picture class="d-flex align-items-center justify-content-center mb-2">
                                <img src="{% get_media_prefix %}{{ user.connection_qr_code }}" alt="Connection QR Code" class="img-fluid rounded shadow" style="width: 250px;">
                            </picture>

                            <p class="text-center text-sm text-white">
                                {{ user.connection_code }}
                            </p>
                        </div>
                        <div class="modal-footer dark-version">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}
    </div>
</div>
