{% extends "layouts/base.html" %}
{% load i18n static admin_urls %}

{% block title %} Servers {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
  <div class="container-fluid py-4">
    <a href="/admin/config/server/add/" class="btn btn-sm btn-outline-gray-600 btn-success">
        <i class="fa fa-plus-circle"></i>
        Add server
    </a>

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Servers</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Country</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">IP</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Inbounds</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>

                  {% for server in server_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <i class="ni ni-fat-add text-primary text-lg opacity-10 me-3 mt-2"></i>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ server.location }}</h6>
                        </div>
                      </div>
                    </td>

                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ server.host }}</span>
                      </div>
                    </td>

                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ server.inbounds.count }}</span>
                      </div>
                    </td>

                    <td class="align-middle text-center text-sm">
                      {% if server.status == 1 %}
                      <span class="badge badge-sm bg-gradient-success">Online</span>
                      {% else %}
                      <span class="badge badge-sm bg-gradient-danger">Error</span>
                      {% endif %}
                    </td>

                    <td class="align-middle">
                      <a href="/admin/config/server/{{ server.id }}/change/" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock content %}
